<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Intelectual</title>
</head>
<body>
	<!-- <div class="wrap">start wrap! -->
	<div class="row1"><!--start row1!-->
		<div class="logo"><img src="../images/logo.png"></div>
		<nav>
			<ul>
				<li><a href="#">HOME</a></li>
				<li><a href="#">HOW IT WORKS</a></li>
				<li><a href="#">DISCOVER A POJECT</a></li>
				<li><a href="#">BLOG</a></li>
				<li><a href="#">FIND OUT MORE</a></li>
			</ul>
		</nav>
		<div class="input">
			<a href="#">LOGIN</a>
		</div>
	</div><!--end row1!-->
	<div class="row2"><!--start row2!-->
		<h1>Intellectual Property has the Shelf Life</h1>
		<h2>of a Banana.</h2>
		<div class="input">
			<a href="#">Become a Member</a>
		</div>
	</div><!--end row2!-->
	<div class="row3"><!--start row3!-->
		<img src="../images/round.png">
		<h1>Our work is the presentation of our capabilities.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<!-- <div class="radio">
			<p><a href="#">   </a>Simple</p>
			<p><a href="#">   </a>Transparent</p>
			<p><a href="#">   </a>Collaborative</p>
		</div> -->
		<div class="glass">
			<img src="../images/glass.png">
			<div class="text">
				<h3>Browse projects, like booking a hotel online !</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div><!--end row3!-->
	<div class="row4"><!--start row4!-->
		<div class="block"><!-- start block1!-->
				<img src="../images/sofa.png">
				<div class="text">
				<h3>Find Properties</h3>
					<p>Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.</p>

					<div class="input1">
						<a href="#">Become a Member</a>
					</div>
				</div>
		</div><!-- end block1!-->
		<div class="block"><!-- start block2!-->
				<img src="../images/dolar.png">
				<div class="text">
					<h3>Find Buyers</h3>
					<p>Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.</p>

					<div class="input1_2">
						<a href="#">Submit Your Project</a>
					</div>
				</div>
		</div><!-- end block2!-->
	</div><!--end row4!-->
	<div class="row5"><!--start row5!-->
		<div class="text">
			<h3>Find Projects</h3>
			<p>Brief details of new and popular projects. To view full listings, you will be required to sign up and become a member.</p></div>
		<div class="input2">
			<a href="#">Become a Member</a>
		</div>
	</div><!--end row5!-->
	<div class="row6"><!--start row6!-->
		<div class="box">
			<div class="pic">
			<img src="../images/pic1.png">
			<p>From <strong>GBP  3600</strong></p>
			</div>
			<h4>Ontario Tower , LONDON</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<div class="input3"><a href="#">See Project Details</a><div class="tr1"></div></div>
		</div>
		<div class="box">
			<div class="pic">
			<img src="../images/pic2.png">
			<p>From <strong>GBP  3600</strong></p>
			</div>
			<h4>Ontario Tower , LONDON</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<div class="input3"><a href="#">See Project Details</a><div class="tr1"></div></div>
		</div>
		<div class="box">
			<div class="pic">
			<img src="../images/pic3.png">
			<p>From <strong>GBP  3600</strong></p>
			</div>
			<h4>Ontario Tower , LONDON</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<div class="input3"><a href="#">See Project Details</a><div class="tr1"></div></div>
		</div>

	</div><!--end row6!-->
<!-- 	</div>end wrap -->
    <!-- <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="../scripts/settings.js"></script>
    <script src="../scripts/component.js"></script>
    <script src="../scripts/formOrder.js"></script>
    <script>
        // var formOrder = new FormOrder("#formOrder");
    </script> -->
</body>
</html>